<div class="copyright" align="center">Powered by Gframe <?php echo date("Y"); ?> &copy;</div>
<?php
if(isset($scripts))
{
    foreach($scripts as $script)
        {
        ?>
<script type="text/javascript" src="<?php echo $root.$script; ?>"></script>
<?php
        }
    }
?>
</body>
</html>