<div class="add_thumbnail" onclick="start_img_interface(<?php echo $target_id; ?>, <?php echo $maxCount; ?>)" style="width:<?php echo $width; ?>px; height:<?php echo $height; ?>px" ></div>
<input name="<?php echo $target_id; ?>" id="<?php echo $target_id; ?>" type="text">

