body {
    font-family: Verdana, "Times New Roman";
    font-size: 12px;
    color: black;
    padding: 0px;
    margin: 0px;
    background-image: url("/Gframe/images/system/default_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100% 100%;
}

/*base layout settings*/

.copyright {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: yellow;
}

.header{
    border-bottom: lightgray 1px solid;
}
.centerFloat
{
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: rgba(255,255,255,0.5);
}

/*upload form*/
.add_thumbnail {
    border: lightgray solid thin;
    background-image: url("../../../images/system/add_image.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/*End uplaod form*/